:root {
  --color-bg: #ffffff;
  --color-nav-hover: #f6f6f7;
  --color-primary: #EC4141;
  --color-title: darken(--color-title-active, 20%);
  --color-title-active: #373737;
  --color-subtitle: #9f9f9f;
  --color-icon: #292929;
  --color-header-icon: #fad8d8;
  --color-icon-disable: #e26a6a;
  --color-icon-bg: #d93b3b;
}